<%= form_for Article.new do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this Profile from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class= "form-group">
  <div class= "field">
    <p>
      <%= f.label :name %><br>
      <%= f.text_area :name, :class => 'form-control' %>
    </p>
  </div> 
</div>

<div class= "form-group">
  <div class= "field">
    <p>
      <%= f.label :phone %><br>
      <%= f.text_area :phone, :class => 'form-control' %>
    </p>
  </div> 
</div>

<div class= "form-group">
  <div class= "field">
    <p>
      <%= f.label :email %><br>
      <%= f.text_area :email, :class => 'form-control' %>
    </p> 
  </div> 
</div>


  <p>
    <%= f.submit %>
  </p>
 
<% end %>