<div class="container">

<h1>Profiles</h1>
<br>

<%= link_to 'New Profile',  new_article_path %>
<br>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th> 
    <th>email</th> 
    <th colspan="4"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.name %></td>
      <td><%= article.phone %></td>
      <td><%= article.email %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%=link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
          
    </tr>
  <% end %>

</table>

</div>